body {
    background-color: white;
   }

header {
    position: absolute;
    width: 112px;
    height: 18px;
    left: calc(50% - 112px/2);
    top: 79px;
}

.backgroundImage {
    margin-top: 100px;
    margin-left: calc(50% - 781px/2);
}
.mainButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    background: #62A1EB;
    border-radius: 8px;
    border-color: transparent;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: white;
}
.mainButtons:hover {
    background-color: #317AD0;
}
.mainButtons:focus {
    background-color: #1A5DAB;
}

#addItems {
    position: absolute;
    width: 387px;
    height: 60px;
    left: calc(50% - 387px/2);
    margin-top: 40px;
}

#itemsList {
    position: absolute;
    width: 387px;
    height: 60px;
    left: calc(50% - 387px/2);
    margin-top: 120px;
}